<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Smart Money Recognition</title>
  </head>
  <body>
    <h2 class="text-center" style="margin: 20px 15px 20px 25px;">Tips Anti Uang Palsu</h2>
    <div class="container" id="ext2">
        <div class="row">
            <div class="col-sm">
                <article class="kartu">
                    <h3>1. Perhatikan Transakasi Anda</h3>
                    <img src="image/BI.jpg" class="featured-image img-fluid" alt="penjelasan" width="300px">
                    <p>Perhatikan transaksi yang kalian lakukan. Jika ingin menukar uang lakukan penukaran uang hanya pada Bank yg disetujui pemerintah</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <article class="kartu">
                    <h3>2. Lakukan 3M</h3>
                    <img src="image/3m.jpg" class="featured-image img-fluid" alt="penjelasan" width="300px">
                    <p>3M adalah melihat meneraba dan menerawang. Pertama lihat dulu warna dan gambar pada uang. Selanjutnya periksa tekstur uang. Uang asli memilki tekstur yg unik. Terakhir terawang uang dan lihat apakah ada bayangannya. </p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <article class="kartu">
                    <h3>3. Gunakan SMR</h3>
                    <img src="image/smr.jpg" class="featured-image img-fluid" alt="penjelasan" width="300px">
                    <p>Jika anda masih ragu dengan 2 metode diatas anda dapat menggunakan SMR untuk mendeteksi uang anda</p>
                </article>
            </div>
        </div>
        
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>